In [5]:
import cornac
import pandas as pd

In [8]:
df = pd.read_excel('data/All Data.xlsx')
df.dropna(inplace=True, ignore_index=True)
df

,Age,DrivingExp,Occupation,NCD,Date,Make,Car.year,Car.price,InsCov
0,42.0,9.0,8.0,0.6,2023-01-10,21.0,9.0,128000.0,0
1,39.0,11.0,60.0,0.6,2023-06-16,33.0,4.0,250000.0,18
2,39.0,11.0,6.0,0.4,2023-06-16,65.0,3.0,140000.0,5
3,40.0,11.0,64.0,0.2,2023-06-21,3.0,1.0,331000.0,18
4,61.0,11.0,53.0,0.6,2023-06-23,42.0,1.0,500000.0,18
...,...,...,...,...,...,...,...,...,...
2774,32.0,1.0,2.0,0.2,2025-12-02,5.0,3.0,300000.0,32
2775,46.0,11.0,23.0,0.2,2025-12-03,16.0,0.0,305580.0,18
2776,45.0,11.0,21.0,0.0,2025-12-03,65.0,9.0,80000.0,7
2777,35.0,3.0,43.0,0.4,2025-12-03,43.0,1.0,169800.0,12
2778,42.0,11.0,23.0,0.5,2025-12-03,49.0,3.0,216000.0,18