In [3]:
from utils.load_data import load_data

In [8]:
df1, df2 = load_data('original', amount=10000, split_num=500, fillna=True)
df1

[IterativeImputer] Completing matrix with shape (500, 11)
[IterativeImputer] Change: 598647.4142740122, scaled tolerance: 864.49
[IterativeImputer] Change: 7910.687555912327, scaled tolerance: 864.49
[IterativeImputer] Change: 6240.761454785344, scaled tolerance: 864.49
[IterativeImputer] Change: 4815.413393349948, scaled tolerance: 864.49
[IterativeImputer] Change: 3663.3376024871072, scaled tolerance: 864.49
[IterativeImputer] Change: 2771.787121905387, scaled tolerance: 864.49
[IterativeImputer] Change: 2092.757265681671, scaled tolerance: 864.49
[IterativeImputer] Change: 1578.7543333278948, scaled tolerance: 864.49
[IterativeImputer] Change: 1190.6035348707476, scaled tolerance: 864.49
[IterativeImputer] Change: 897.7665482611465, scaled tolerance: 864.49
[IterativeImputer] Change: 676.9202382215399, scaled tolerance: 864.49
[IterativeImputer] Early stopping criterion reached.
[IterativeImputer] Completing matrix with shape (9500, 11)

,Age,DrivingExp,Occupation,NCD,Make,Car.year,Car.price,InsCov,Date
0,30,0,28,0.3,21,9,155467.970526,11,1901-01-04
1,46,9,28,0.3,47,11,68474.866292,5,2022-04-02
2,46,9,29,0.4,47,11,63109.381476,4,2022-04-04
3,45,8,31,0.3,47,9,216275.319999,25,2022-04-04
4,46,9,29,0.4,47,11,72331.128901,5,2022-04-06
...,...,...,...,...,...,...,...,...,...
495,56,11,53,0.6,65,26,-231756.786828,4,2023-08-15
496,29,4,59,0.4,65,16,-70178.636034,4,2023-08-15
497,47,11,59,0.0,5,15,133760.572748,11,2023-08-15
498,57,11,8,0.6,21,5,170000.000000,18,2023-08-15
499,36,11,51,0.0,40,2,190000.000000,5,2023-08-15

In [5]:
df2

,Age,DrivingExp,Occupation,NCD,Date,Make,Car.year,Car.price,InsCov
0,34.0,6.0,21.0,0.3,2023-08-15,5.0,8.0,NaN,17
1,40.0,11.0,28.0,0.4,2023-08-15,21.0,12.0,NaN,4
2,25.0,1.0,6.0,0.0,2023-08-15,29.0,5.0,NaN,11
3,36.0,3.0,64.0,0.4,2023-08-15,21.0,7.0,NaN,20
4,62.0,4.0,26.0,0.6,2023-08-15,21.0,9.0,NaN,20
...,...,...,...,...,...,...,...,...,...
9495,55.0,11.0,8.0,0.6,2025-02-07,65.0,6.0,500000.0,32
9496,41.0,11.0,6.0,0.6,2025-02-07,49.0,11.0,50000.0,5
9497,41.0,NaN,38.0,0.2,2025-02-07,65.0,15.0,NaN,11
9498,30.0,7.0,47.0,0.2,2025-02-07,14.0,11.0,NaN,20
9499,28.0,3.0,12.0,0.2,2025-02-07,5.0,13.0,NaN,11