In [13]:
import pandas as pd
from utils.load_data import load_data

In [14]:
df = pd.read_excel('../data/All Data.xlsx', sheet_name='coding')

In [18]:
df1 = load_data('synthetic', amount=1000, split_num=None, fillna=True)
df1

[IterativeImputer] Completing matrix with shape (1000, 11)
[IterativeImputer] Change: 11884.407813435158, scaled tolerance: 713.623
[IterativeImputer] Change: 2729.597130103415, scaled tolerance: 713.623
[IterativeImputer] Change: 677.5722677063604, scaled tolerance: 713.623
[IterativeImputer] Early stopping criterion reached.

,Age,DrivingExp,Occupation,NCD,Make,Car.year,Car.price,InsCov,Date
0,37,7,23,0.3,65,10,243347.300533,31,2023-06-08
1,62,11,8,0.6,40,22,255972.837261,1,2023-07-02
2,38,1,29,0.3,42,6,249941.000000,20,2023-07-06
3,29,0,60,0.0,62,3,250313.000000,31,2023-07-07
4,28,3,8,0.3,3,6,246460.414064,17,2023-07-16
...,...,...,...,...,...,...,...,...,...
995,35,0,21,0.0,39,2,243647.368964,11,2025-11-23
996,29,8,31,0.2,64,10,241950.303231,5,2025-12-01
997,33,0,49,0.0,21,7,246395.134728,11,2025-12-04
998,68,11,59,0.6,65,12,250651.000000,31,2025-12-04
999,37,3,62,0.0,49,10,245122.918964,6,2025-12-04

In [11]:
df2

,Age,DrivingExp,Occupation,NCD,Make,Car.year,Car.price,InsCov,Date
0,40,11,6,0.6,42,3,241918.070561,12,2023-06-26
1,52,3,28,0.3,21,4,241918.073293,17,2023-07-18
2,31,2,66,0.6,14,14,241918.067447,25,2023-07-24
3,57,11,34,0.0,42,17,241918.075056,31,2023-07-30
4,46,11,6,0.6,64,8,250912.000000,12,2023-08-08
...,...,...,...,...,...,...,...,...,...
695,35,8,26,0.0,39,6,241918.065940,31,2025-11-23
696,64,11,53,0.6,21,22,241918.082614,4,2025-11-26
697,33,8,30,0.2,25,6,241918.063322,5,2025-12-01
698,42,11,36,0.6,2,2,241918.068081,18,2025-12-03
699,38,2,28,0.0,65,21,241918.061391,6,2025-12-04